.inputsDiv {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 30px 0;
}

.inputDiv {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px 0;
}

.selectInput{
    min-width: 150px;
}