.userAccountContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    position: relative;
    overflow-x: hidden;
}

.backArrowDiv {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


